* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: 'Nunito', Helvetica, sans-serif;
}

body {
  background-color: $brand_light;
  color: $brand_darkest;
  max-width: 750px;
  margin: 0 auto;
}

header {
  margin: 5px 0 10px;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

h3,
h4 {
  margin-top: 0.25em;
}

img {
  margin: 0.75rem 0;
}

ul {
  padding-left: 0;
}

li {
  list-style: none;
}