@import '../../node_modules/normalize.css/normalize.css';
@import 'variables';
@import 'mixins';
@import 'fonts';
@import 'base';
@import 'helpers';

#sticky {
  background-color: $brand_light;
  position: sticky;
  padding: 0.625rem;
  top: 0;
  z-index: 999;
}

#book-icon {
  fill: $brand_primary;
  margin: 0.1rem 0.5rem;
  @include box(30px);
}

#search-area {
  margin-top: 0.5rem;
}

#search-bar {
  border: 1px solid rgba(151, 151, 151, 0.33);
  border-radius: 8px;
  height: 40px;
  padding-left: 0.8rem;
  width: 100%;

  &:focus {
    border: 1px solid $brand_primary;
    outline: 0;
  }
}

#search-button {
  background-color: transparent;
  border: 0;
  float: right;
  padding: 0;
  position: relative;
  right: 15px;
  top: -30px;
}

#search-icon {
  fill: $brand_darkest;
  @include box(20px);
}

#view-history {
  color: $brand_dark;
  text-align: right;
  text-decoration: underline;
  transition: color 0.08s ease-in-out;

  &:hover {
    color: $brand_darkest;
  }
}

.history-item {
  @include hoverClickTransition(#fff);
}

#results-area {
  opacity: 0;
  padding: 0 0.625rem 0.625rem;
  transition: opacity 1.75s;
}

#results-count {
  padding: 0.5rem;
}

#results {
  margin-top: 0;
}

.init-text {
  font-size: 1rem;
  line-height: 1.56;
  padding: 1rem 2rem 0;
  text-align: center;

  @media (min-width: 750px) {
    font-size: 1.75rem;
    padding: 1rem 4rem;
  }
}

.card-container {
  animation: fadeIn 1s 1;
  border-radius: 8px;
  margin-bottom: 0.9375rem;
  padding: 0.9375rem;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

#button-container {
  margin-bottom: 1rem;
  justify-content: space-between;
}

a.button {
  display: block;
  line-height: 40px;
  margin-top: 0.5rem;
  text-align: center;
  text-decoration: none;
  @include buttonBase();
  @include hoverClickTransition($brand_success);
}

#next-button,
#previous-button {
  width: 48%;
  @include buttonBase();
  @include hoverClickTransition($brand_primary);
}

#next-button {
  float: right;
}

#previous-button {
  float: left;
}

#alert {
  position: fixed;
  bottom: 1vw;
  left: 1vw;
  width: 98vw;
  text-align: center;
  padding: 1rem;
  opacity: 0;
  transition: opacity 0.5s;
  border-radius: 8px;
  z-index: -1;
}
