@import '../../node_modules/normalize.css/normalize.css';
@import 'fonts';
@import 'variables';
@import 'base';
@import 'typography';

.card-container {
  padding: 0.9375rem;
  margin-bottom: 0.9375rem;
  border-radius: 8px;
}

.button {
  font-family: 'PT-Sans';
  color: rgba(255, 255, 255, 0.9);
  border: 0;
  border-radius: 8px;
  height: 39px;
}

#book-icon {
  height: 30px;
  width: 30px;
  fill: $brand_primary;
  margin: .1rem .5rem;
}

#search-button {
  background-color: transparent;
  padding: 0;
  border: 0;
  position: relative;
  float: right;
  top: -30px;
  right: 15px;

  &:focus {
    outline: 0;
  }
}

#search-area {
  margin-top: 0.5rem;
}

#search-icon {
  height: 20px;
  width: 20px;
  fill: $brand_darkest;
}

#search-bar {
  width: 100%;
  height: 40px;
  border-radius: 8px;
  border: 1px solid rgba(151, 151, 151, 0.33);
  padding-left: 0.8rem;

  &:focus {
    outline: 0;
    border: 1px solid $brand_primary;
  }
}

#view-history {
  text-decoration: underline;
  text-align: right;
  color: $brand_dark;
  padding-top: 0.5rem;
}

.flex-parent {
  display: flex;
  flex-direction: row;
}

#results-count {
  padding: 0.5rem;
}

#results-area {
  opacity: 0;
  transition: opacity 1.75s;
  padding: 0 0.625rem 0.625rem;
}

.init-text {
  text-align: center;
  padding: 1rem 2rem 0;
  line-height: 1.56;
  font-size: 1rem;

  @media (min-width: 750px) {
    padding: 1rem 4rem;
    font-size: 1.75rem;
  }
}

button:focus {
  outline: 0;
}

.show {
  opacity: 1 !important;
  z-index: 999 !important;
}

#view-history:hover,
#search-icon:hover,
.history-item:hover {
  cursor: pointer;
}

.hide {
  display: none;
}

#results {
  margin-top: 0;
}

#next-button,
#previous-button {
  border: 0;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.33);
  color: rgba(255, 255, 255, 0.9);
  height: 40px;
  border-radius: 8px;
  width: 48%;
  font-family: 'PT-Sans';
}

#next-button {
  float: right;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

#previous-button {
  float: left;
}

#button-container {
  margin-bottom: 1rem;
  justify-content: space-between;
}

#sticky {
  background-color: $brand_light;
  position: sticky;
  padding: 0.625rem;
  top: 0;
}

a.button {
  display: block;
  text-align: center;
  line-height: 40px;
  text-decoration: none;
  margin-top: 0.5rem;
}

#alert {
  position: fixed;
  bottom: 1vw;
  left: 1vw;
  width: 98vw;
  text-align: center;
  padding: 1rem;
  opacity: 0;
  transition: opacity 0.5s;
  border-radius: 8px;
  z-index: -1;
}

